.linea{
    background: black;
    height: 1px;
    width: 35%;
    border: #000;
    margin: 30px;
}
.T1{
    background-color: #ebebeb;
    transition: background-color .5s;
}

.T1:hover {
    background-color: white;
}

.btn{
    background-color: #000;
    transition: background-color .5s;
}

.btn:hover {
    background-color: orange;
    color: #000;
    border: none;
    
}

a {
color: gray;
transition: color 5ms;
}

a:hover{
    color: orange;
}

.section_1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.caja_1{
    width: 50%;
    display: flex;
}
.caja_2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.estructura_1 {
    width: 33%;
}

.estructura_2 {
    width: 33%;
}

.estructura_3 {
    width: 33%;
}

.mini_logo>img {
    width: 20px;
}

.estructura_4 {
    width: 50%;
}

.estructura_4>img {
    width: 50px;
}

p {
    color:grey
}

.fo{
    background: #1C1C1C;
}

.carrito{
    background-color: #000;
    transition: background-color .5s;
}

.valor{
    font-size: 50px;

}
